body {
  font-family: Helvetica;
  text-align: center;
  color: grey;
}
.top {
  background-image: url('./resources/images/the-flatiron-building.png');
  color: white;
}
.topnav {
  font-size: 18px;
  color: white;
}
h1 {font-size: 70px;}
h2 {font-size: 32px;}
h3 {font-size: 23px;}
.foot {
  background-color: dimgray;
}
